body{
    margin: 5em;
    padding:10px;   
}
.p{
    text-align:justify-all;
    
}
.img1{
    width: 1000px;
    height: 400px;
    
}
.p1{
    font-family: "lucida console","courier new","monospace";
    
    
}